*.iml
.ENV
.env
.ipynb_checkpoints/

# Docs
docs/build/
docs/source/_autosummary/

# IDE
.idea/
.vscode/
.vim

# Python
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv*/
algpy/
algpy_examples/
__pycache__/
.coverage
